body{
	position: relative;
	background-color: black;
}

#calculator{
	position: absolute;
	top: 50px;
	left: 25%;
	width: 100vh;
	height: 70vh;
	background-color: lightslategray;
	border-radius: 10px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	box-shadow: 0.5px 0.5px 10px 4px darkgray;
}
#screen{
	width: 94%;
	height: 18%;
	background-color: darkgray;
	/*border: 1px solid yellow;*/
	box-shadow: 2px 2px 4px black;
	margin: 5px;
	padding: 5px;
	border-radius: 4px;
	overflow: hidden;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}
/*#container{
	width: 0%;
	height: 80%;
	background-color: green;
}*/
main{
	width: 75%;
	height: 75%;
	/*background-color: black;*/
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.numbers{
	width: 32%;
	height: 18%;
	background-color:darkgray;
	/*border: 1px solid black;*/
	box-shadow: 2px 2px 2px black;
	border-radius: 4px;
	margin: 1px;
	font-size: large;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 700;
}
aside{
	width: 20%;
	height: 75%;
	/*background-color: black;*/
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
#operators{
	width: 95%;
	height: 18%;
	background-color:black;
	/*border: 1px solid black;*/
	box-shadow: 2px 2px 2px black;
	border-radius: 4px;
	font-size: xx-large;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	/*margin-bottom: 3px;*/
}
@media screen and (max-width: 900px)
{
	#calculator{
		width: 60vh;
		height: 60vh;
	}

}
@media screen and (max-width: 600px)
{
	#calculator{
		left: 5%;
	}
	
}